.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 13, 96);
    color: white;
    padding: 0.5rem;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.navbar-center .nav-links li {
    margin-right: 1rem;
  }

.navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.logout span {
  width: 1rem;
}

.logout button {
  background: none;
  border: none;
  border-radius: 10%;
}

.logout button:hover {
  background: rgb(110, 8, 56);
}

#logo {
    padding-left: 1rem;
}